.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
body{
  background-color: #83c5be;
  color: #cad2c5;
  text-align: center;
  color: #001314;
}

ul:last-child{
  margin-right:0;
}
ul{
  text-align: center;
}
button{
  display:block;
  margin: 30px auto;
  background-color: #e29578;
  color: #000;
  border: 0 solid #000;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
}
#header li{
  display:inline-block;
}
#header li a{
	display:inline-block;
	color: #001314;
	margin-right: 20px;
	text-decoration: none;
}
#header li a:hover{
	text-decoration: underline;
}
#header li a:visited{
  display:inline-block;
  color: #001314;
  margin-right: 20px;
  text-decoration: none;
}
table#leaderboard{
	background-color:#fff;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
}
table tr th {
	border-right: 1px solid #000;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
table tr th:last-of-type{
	border-right: 0 solid #000;
}